@using Allup_Service.UI.Vm
@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}

<!--====== Slider Part Start ======-->

<section class="slider-area slider-3">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-8">
                <div class="slider-active mt-30">
                   @foreach (var slider in Model.Slider)
                    {
                        <div class="single-slider">
                            <div class="slider-image">
                                <img style="width:1017px;height:585px" src="~/Uploads/Sliders/@slider.Image" alt="slider">
                            </div>
                            <div class="slider-content-wrapper">
                                <div class="slider-content">
                                    <h1 data-animation="bounceInDown" style="color:navajowhite" data-delay="0.2s" class="main-title ">@slider.Title</h1>
                                    <p data-animation="bounceInDown" style="color: lightgoldenrodyellow" data-delay="0.5s">@slider.Desc</p>
                                    <a data-animation="zoomIn" data-delay="0.8s" class="main-btn " href="shop-4-column.html">Shop Now</a>
                                </div>
                            </div>
                        </div> <!-- single slider -->
                    }
                </div>
            </div>
            <div class="col-lg-4">
                @foreach(var banner in Model.Banner)
                {
                  <div class="slider-banner mt-30">
                    <a href="shop-4-column.html"><img src="~/Uploads//Banners/@banner.Image" alt="banner"></a>
                </div> <!-- slider banner -->
                }
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

</section>

<!--====== Slider Part Ends ======-->


<!--====== Features Banner Part Start ======-->

    <div class="features-banner-area pt-95">
        <div class="container-fluid custom-container">
            <div class="features-banner-wrapper d-flex flex-wrap">
            @foreach(var feature in Model.FeaturesBanner)
            {
                 <div class="single-features-banner d-flex">
                    <div class="banner-icon">
                        <img src="~/Uploads/FeaturesBanners/@feature.ImageUrl" alt="Icon">
                    </div>
                    <div class="banner-content media-body">
                        <h3 class="banner-title">@feature.Title</h3>
                        <p>@feature.Desc</p>
                    </div>
                </div> <!-- single features banner -->
            }
            </div> <!-- features banner wrapper -->
        </div> <!-- container -->
    </div>
<!--====== Features Banner Part Ends ======-->

 <!--====== Product Part Start ======-->

<section class="product-area pt-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="true">New Arrival</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="bestseller-tab" data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false">Bestseller</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured</a>
                        </li>
                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row " style="justify-content:center">
                        
                            @foreach (var product in Model.Products.Where(p=>p.IsNew==true))
                            {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="detail" asp-controller="shop" asp-route-productid="@product.Id">
                                            <img style="width:230px;height:170px" class="first-image" src="@product.ProductImages.Where(pi=>pi.IsCover==true).FirstOrDefault().ImageUrl" alt="product">
                                            <img style="width:230px;height:170px" class="second-image" src="@product.ProductImages.Where(pi=>pi.IsCover==false).FirstOrDefault().ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-action="AddToBasket" asp-controller="Shop" asp-route-productid="@product.Id" class="icon ion-bag add-to-basket"></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.SalePrice</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
                <div class="product-items">
                    <div class="row " style="justify-content:center">
                        
                        @foreach (var product in Model.Products.Where(p => p.IsBestSeller == true))
                        {
                             <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-action="detail"asp-controller="shop" asp-route-productid="@product.Id">
                                            <img style="width:230px;height:170px" class="first-image" src="@product.ProductImages.Where(pi=>pi.IsCover==true).FirstOrDefault().ImageUrl" alt="product">
                                            <img style="width:230px;height:170px" class="second-image" src="@product.ProductImages.Where(pi=>pi.IsCover==false).FirstOrDefault().ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-action="AddToBasket" asp-controller="Shop" asp-route-productid="@product.Id"><i class="icon ion-bag add-to-basket"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.SalePrice</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }
                      
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
            <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                <div class="product-items">
                    <div class="row " style="justify-content:center">
                       
                         @foreach (var product in Model.Products.Where(p => p.IsFeatured == true))
                         {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image" >
                                        <a asp-action="detail" asp-controller="shop" asp-route-productid="@product.Id">
                                            <img style="width:230px;height:170px" class="first-image" src="@product.ProductImages.Where(pi=>pi.IsCover==true).FirstOrDefault().ImageUrl" alt="product">
                                            <img style="width:230px;height:170px" class="second-image" src="@product.ProductImages.Where(pi=>pi.IsCover==false).FirstOrDefault().ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a asp-action="AddToBasket" asp-controller="Shop" asp-route-productid="@product.Id"><i class="icon ion-bag add-to-basket"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@product.SalePrice</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                         }                   
                    <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>

<!--====== Product Part Ends ======-->
 <!--====== Banner Part Start ======-->

    <div class="banner-area pt-70">
        <div class="container-fluid custom-container">
            <div class="row">
            @foreach(var reclamBanner in Model.ReclamBanners)
            {
                 <div class="col-md-6">
                    <div class="banner-image banner-2">
                        <a href="shop-4-column.html"><img src="@reclamBanner.ImageUrl" alt="banner"></a>
                    </div> <!-- banner image -->
                </div>
            }

            </div> <!-- row -->
        </div> <!-- container -->
    </div>

<!--====== Banner Part Ends ======-->
