@using Allup_Core.Entities
@using Allup_Service.Dtos.ProductDtos
@model ProductCreateDto

<br />
<br />
<div class="container">
    <div class="row mx-auto ">
        <form method="post"  asp-action="Create" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Desc"></label>
                <input asp-for="Desc" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Desc"></span>
            </div>
               <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CostPrice</label>
                <input asp-for="CostPrice" class="form-control" aria-describedby="emailHelp">
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>   <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">SalePrice</label>
                <input asp-for="SalePrice" class="form-control" aria-describedby="emailHelp">
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Discount</label>
                <input asp-for="DiscountPercent" class="form-control" aria-describedby="emailHelp">
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">StockCount</label>
                <input asp-for="StockCount" style="width:80px;height:30px" aria-describedby="emailHelp">
                <span asp-validation-for="StockCount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ProductCode</label>
                <input asp-for="ProductCode" style="width:80px;height:30px" class="form-control" aria-describedby="emailHelp">
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">IsNew</label>
                <input asp-for="IsNew" class="form-Check" aria-describedby="emailHelp">
                <span asp-validation-for="IsNew" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">BestSeller</label>
                <input asp-for="IsBestSeller" class="form-Check" aria-describedby="emailHelp">
                <span asp-validation-for="IsBestSeller" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">IsFeatured</label>
                <input asp-for="IsFeatured" class="form-Check" aria-describedby="emailHelp">
                <span asp-validation-for="IsFeatured" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label"> Brand</label>
                <select asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands, nameof(Brand.Id), nameof(Brand.Name)))" class="form-control">
                    <option disabled selected>Select Brand</option>
                </select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainFile" for="exampleInputUsername1"></label>
                <input class="form-control" id="exampleInputName" asp-for="MainFile" placeholder="Enter Main File">
                <span asp-validation-for="MainFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalFiles" for="exampleInputUsername1"></label>
                <input class="form-control" id="exampleInputName" asp-for="AdditionalFiles" placeholder="Enter Additional Files">
                <span asp-validation-for="AdditionalFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label"> Category</label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, nameof(Category.Id), nameof(Category.Name)))" class="form-control">
                    <option disabled selected>Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label"> Tag</label>
                <select asp-for="TagIds" asp-items="@(new SelectList(ViewBag.Tags, nameof(Tag.Id), nameof(Tag.Name)))" class="form-control">
                    <option disabled selected>Select Tag</option>
                </select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label for="exampleInputPassword1" class="form-label"> Size</label>
                <select asp-for="SizeIds" asp-items="@(new SelectList(ViewBag.Sizes, nameof(Size.Id), nameof(Size.Name)))" class="form-control">
                    <option disabled selected>Select Size</option>
                </select>
                <span asp-validation-for="SizeIds" class="text-danger"></span>
            </div> <div class="form-group">
                <label for="exampleInputPassword1" class="form-label"> Color</label>
                <select asp-for="ColorIds" asp-items="@(new SelectList(ViewBag.Colors, nameof(Color.Id), nameof(Color.Name)))" class="form-control">
                    <option disabled selected>Select Color</option>
                </select>
                <span asp-validation-for="ColorIds" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

}













