@using Allup_Service.UI.Vm
@model BlogVM
@{
    Layout = "_Layout";
}

<!--====== Breadcrumb Part Start ======-->

<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Blog</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Blog Part Start ======-->

<section class="blog-page pt-20">
    <div class="container-fluid custom-container">
        <div class="row">
            
            <div class="col-lg-9">
                <div class="blog-posts">
                    <div class="row">
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="col-md-6">
                                <div class="single-blog-post blog-grid-post mt-30">
                                    <div class="blog-post-media">
                                        <div class="blog-image">
                                            <a href="blog-single-left-sidebar.html"><img src="@item.ImageUrl" alt="blog"></a>
                                        </div>
                                    </div>
                                    <div class="blog-post-content">
                                        <h4 class="blog-title"><a href="blog-single-left-sidebar.html">@item.Title</a></h4>
                                        <ul class="blog-meta">
                                            <li><a href="#"><i class="fas fa-user-circle"></i> @item.Author.Name</a></li>
                                            <li><a href="#"><i class="fas fa-calendar-alt"></i> @item.CreatedAt</a></li>
                                        </ul>
                                        <p>@item.MinDescription</p>
                                        <a asp-controller="Blog" asp-action="Detail" class="main-btn main-btn-2">Read More</a>
                                    </div>
                                </div> <!-- single blog post -->
                            </div>
                        }


                    </div>


                </div> <!-- blog posts -->


                <ul class="pagination justify-content-center mt-30">
                    <li><a href="#"><i class="fal fa-chevron-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fal fa-chevron-right"></i></a></li>
                </ul>
            </div>


           <div class="col-lg-3">
                <div class="blog-sidebar">
                     <div class="sidebar-widget mt-30">
                        <h4 class="sidebar-title">Search</h4>
                        <div class="blog-sidebar-search">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                     </div> <!-- sidebar widget -->

                    <div class="sidebar-widget mt-30">
                        <h4 class="sidebar-title">Categories</h4>
                        <div class="blog-sidebar-categories">
                            <ul class="categories-list">
                               @foreach (var item in Model.Blogs)
                                {
                                        <li><a href="blog-grid-left-sidebar.html">@item.Category.Name (20)</a></li>
                                }
                            </ul>
                        </div>
                    </div> <!-- sidebar widget -->

                    <div class="sidebar-widget mt-30">
                        <h4 class="sidebar-title">Resent Post</h4>
                        <div class="blog-sidebar-post">
                           @foreach(var item in Model.Blogs.Take(3))
                            {
                                    <div class="single-mini-post d-flex">
                                        <div class="post-thumb">
                                            <a href="blog-single-left-sidebar.html"><img src="@item.ImageUrl" alt="blog"></a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h5 class="post-title"><a href="blog-single-left-sidebar.html">@item.Title</a></h5>
                                            <span class="date">@item.CreatedAt</span>
                                        </div>
                                    </div>
                            }
                        </div>
                    </div> <!-- sidebar widget -->

                    <div class="sidebar-widget mt-30">
                        <h4 class="sidebar-title">Popular Tags</h4>
                        <div class="blog-sidebar-tags">
                            <ul class="tag-list">
                               @foreach (var item in Model.Blogs)
                                {
                                        <li><a href="#">@item.Tag.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                 </div> <!-- blog sidebar -->
           </div>
        </div> <!-- row -->
    </div> <!-- container -->

</section>

<!--====== Blog Part Ends ======-->



